body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    color: #161c2d;
    text-align: left;
    background-color: #fff;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h6 {
    font-size: 0.85rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.iconify {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem!important;
}

.iconify-lg {
    width: 2rem;
    height: 2rem;
}

/* Layout ============================================== */

.position-relative {
    position: relative!important;
}

.mx-hr {
    margin-left: -1.5rem;
    margin-right: -3rem;
}

.ml-auto {
    margin-left: auto;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.d-none {
    display: none!important;
}

@media (min-width: 768px) {
    .d-md-block {
        display: block!important;
    }
}

/* Image ============================================== */

.img-skewed {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.img-skewed-right {
    -webkit-perspective-origin: right center;
    perspective-origin: right center;
}

.img-skewed-left {
    -webkit-perspective-origin: left center;
    perspective-origin: left center;
}

.img-skewed-right .img-skewed-item {
    -webkit-transform: rotateY( 35deg) rotateX( 15deg);
    transform: rotateY( 35deg) rotateX( 15deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.img-skewed-left .img-skewed-item {
    -webkit-transform: rotateY( -30deg) rotateX( 5deg);
    transform: rotateY( -30deg) rotateX( 5deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.screenshot {
    border-radius: .625rem;
    box-shadow: 25px 60px 125px -25px rgb(80 102 144 / 10%), 16px 40px 75px -40px rgb(0 0 0 / 20%);
}

.card-header:first-child {
    border-radius: calc(.375rem - 0px) calc(.375rem - 0px) 0 0;
}

.card-header {
    padding: 1.5rem 2rem;
    background-color: transparent;
    border-bottom: 1px solid #f1f4f8;
}

.card-body, .card-footer, .card-img, .card-img-left, .card-img-right, .card-img-top, .card-meta {
    position: relative;
    min-height: 1px;
}

.card-body {
    padding: 2rem;
}

/* Code ============================================== */

code {
    line-height: 1.35;
}

/* Border ============================================== */

.border-top {
    border-top: 1px solid #f1f4f8!important;
}

.border-bottom {
    border-bottom: 1px solid #f1f4f8!important;
}

.border-gray-900-50 {
    border-color: rgba(27, 42, 78, .5)!important;
}

.border-white-10 {
    border-color: rgba(255, 255, 255, .1)!important;
}

/* Shape ============================================== */

.shape {
    position: absolute;
    pointer-events: none;
    width: 100%;
}

.shape>* {
    display: block;
}

.shape-left {
    top: 0;
    bottom: 0;
    left: 0;
}

.shape-right {
    top: 0;
    bottom: 0;
    right: 0;
}

.shape-bottom {
    bottom: 0;
    right: 0;
    left: 0;
}

.shape-top {
    top: 0;
    right: 0;
    left: 0;
}

.shape:not([class*=dont-scale])>* {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.shape-fluid-x>* {
    width: 100%;
    height: auto;
}

.shape-flip-x {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.shape-flip-y {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

/* Text ============================================== */

.text-reset {
    color: inherit!important;
}

.text-brand {
    font-family: 'Arvo', serif;
}

.text-white {
    color: #fff!important;
}

.text-black {
    color: #161c2d!important;
}

.text-blue {
    color: #335eea!important;
}

.text-muted-80 {
    color: rgba(134, 154, 184, .8)!important;
}

.text-gray-700 {
    color: #506690!important;
}

/* Colors ============================================== */

.bg-white {
    background-color: #fff!important;
}

.bg-blue {
    background-color: #335eea!important;
}

.bg-black {
    background-color: #161c2d!important;
}

/* Navbar ============================================== */

.navbar {
    padding: 1.25rem 1rem;
}

.navbar-brand-img, .footer-brand {
    max-height: 2rem;
    width: auto;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #335eea;
}

.navbar-light .navbar-nav .nav-link {
    color: #506690;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #335eea;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

/* Buttons ============================================== */

.btn {
    font-weight: 600;
    line-height: 1.6;
    border: 1px solid transparent;
    padding: .8125rem 1.25rem;
    font-size: 1.0625rem;
    line-height: 1.6;
    border-radius: .375rem;
}

.btn-white {
    background-color: #fff;
    color: black;
}

.btn-blue {
    background-color: #335eea;
    color: #fff;
}

.btn-rounded-circle {
    padding-left: .8125rem;
    padding-right: .8125rem;
    border-radius: 50rem;
}

.btn-rounded-circle>* {
    display: block;
    line-height: 1;
    width: 1em;
}

.btn-gray-400-10 {
    background-color: rgba(198, 211, 230, .1);
    color: #fff;
}

.btn-gray-400-30 {
    background-color: rgba(198, 211, 230, .3);
    color: #fff;
}

a.btn-gray-400-30:hover {
    color: #fff;
}

.badge-rounded-circle {
    height: calc(1em + .5rem);
    padding-left: .25rem;
    padding-right: .25rem;
    border-radius: 10rem;
}

/* Shadow ============================================== */

.shadow {
    box-shadow: 0 .5rem 1.5rem rgba(22, 28, 45, .1)!important;
}

/* Animations ============================================== */

.lift {
    -webkit-transition: box-shadow .25s ease, -webkit-transform .25s ease;
    transition: box-shadow .25s ease, -webkit-transform .25s ease;
    transition: box-shadow .25s ease, transform .25s ease;
    transition: box-shadow .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.lift:focus, .lift:hover {
    box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .1)!important;
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
}